@media print{
    #instruction-container {
        display: none !important;
    }
    #print {
        display: none;
    }
    html[data-theme='dark'] {
        filter: invert(0) !important;
    }
    body #page-bg {
        background-color: white !important;
    }
}

html[data-theme='dark'] {
    transition: background 0.2s linear;
    filter: hue-rotate(180deg) invert(1);
}

html[data-theme='dark'] #quiz-instructions {
    filter: invert(0.05) !important;
}

html[data-theme='dark'] .fa-times-circle {
    filter: invert(1) hue-rotate(180deg) saturate(4) !important;
}

html[data-theme='dark'] .hint-result {
    filter: invert(0.1) hue-rotate(180deg) !important;
}

html[data-theme='dark'] .alert-warning, html[data-theme='dark'] .btn-warning {
    filter: invert(1) hue-rotate(180deg) saturate(1.5) !important;
}

html[data-theme='dark'] .yes-hint { 
    filter: brightness(1.15) !important;
}

html[data-theme='dark'] #instruction-container, html[data-theme='dark'] .alert-warning {
    position: fixed !important;
}

#adv-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower {
    margin-top: 2em;
}

hr {
    size: 5px;
    width: 60%;
    /* width: 800px; */
}

.adv-setting-text {
    color: #850000;
    margin-bottom: 10px;
}

.modes {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*          yes or no hint button          */
.checkbox {
	opacity: 0;
	position: absolute;
}

.on {
    color: #f39c12;
    transform: translate(2px);
}

.off {
    transform: translate(-2px);
    color: #759fc4;
}


/*       light/dark mode button        */
.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.fa-moon-o {
	color: #f1c40f;
}

.fa-sun-o {
	color: #f39c12;
}


/*     home page      */
#index-bg {
    background-color: #eaeaf7;
    height: 100vh;
}

#page-bg {
    background-color: #e7e7f0;
    height: 100%;
}

.quiz-title {
    text-align: center;
    color: #002955;
    padding-top: 10em;
}
/* --------------- SOURCE: https://css-tricks.com/snippets/css/typewriter-effect/ --------------------- */
.typewrite:hover {
    text-decoration: none;
}
      
* { color:#002955; text-decoration: none;}
/* -------------------------------------------------- END OF SOURCE */

#home-choose-next {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;
}

.info {
    margin-right: 1em;
    margin-left: 1em;
    color: #fff6fa;
}

.start {
    margin-left: 1em;
    margin-right: 1em;
    color: #fff6fa;
}

.disabled {
    opacity: 0.5;
}

/*     results page      */
.fa-2x {
    margin-right: 10px;
    display: inline;
}

.fa-check-circle {
    color: rgb(0, 201, 0);
}

.fa-times-circle {
    color: rgb(201, 0, 0);
}

.q-in-results {
    display: inline-flex;
    align-items: flex-start;
}

.btn-light {
    background-color: #cdddf5a1;
    border-color: #cdddf5;
    pointer-events: none;
    color: rgb(0, 0, 36) !important;
}

.hint-result {
    background-color: #ffee9aaa !important;
    border-color: #ffee9a !important;
    pointer-events: none;
    color: rgb(0, 0, 36) !important;
}

#results {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

#input-name {
    margin-left: 10px;
}

@media (max-width: 768px) {
    #results {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    #input-name {
        margin-left: 0;
    }
}

/*     quiz page      */
#instruction-container {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    right: 0;
    margin-top: 1em;
    margin-right: 1em;
}

.home {
    background-color: #1596d1;
    border-color: #1596d1;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.home:hover, .home:focus, .home:active {
    background-color: #1a8abe !important;
    border-color: #1a8abe !important;
}

.in-quiz {
    margin-top: 0.75em;
}

p {
    color: black;
}

.hint {
    display: block;
}

.hint-p {
    font-style: italic;
    color: #8d5c00;
}

.get-hint {
    opacity: 0.75;
    margin-left: 20px;
    color: black;
}

.alert-warning {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: space-between;
    top: 1em;
    padding-right: 0;
    margin-left: -15em;
    left: 50%;
    border-color: #ffc889d0;
    border-radius: 10px;
}

.close {
    position: relative !important;
}

.alert-react {
    display: inline-flex;
    padding-left: 2em;
    padding-right: 0;
}

#quiz_form, #report {
    padding: 6em;
    padding-left: 10em;
    padding-right: 10em;
}

.general {
    display: flex;
    justify-content: center;
}

.question {
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    #quiz_form, #report {
        padding: 2em;
        padding-top: 5em;
    }
    #instruction-container {
        flex-direction: row-reverse;
    }
    .in-quiz {
        margin-top: 1em;
    }
}

/*      the radio buttons       */
.form-check-input {
    position: relative;
    z-index: -1;
    background-color: transparent;
    transform: translate(30px);
}

.choice-viewable{
    display: inline-flex;
    flex-direction: row;
    vertical-align: top;
    align-items: baseline;
}

.p-beside-bubbles {
    padding-left: 15px;
}

.choice-viewable > label{
    border-radius: 20px; /*roundness of answer boxes*/
}

.form-control {
    color: rgb(0, 0, 36);
}

.btn-outline-primary {
    background-color: #f4fcfb !important;
}
/*  F7F7F9*/

.blue {
    color: #005ec2; /*text color */
    background-color: white;
}

.choice-viewable:hover .blue, .blue:hover, .blue:active, .form-check-input:checked + .choice-viewable .blue{
    color: white;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.blue:focus, .blue:active, .form-check-input:checked + .choice-viewable .blue {
    box-shadow: 0px 0px 0px 3px #007bff70 !important;
}

.violet {
    border-color: #8c00ff;
    background-color: white;
    color: #5f00b8;
}

.choice-viewable:hover .violet, .violet:hover, .violet:active, .form-check-input:checked + .choice-viewable .violet {
    color: white;
    background-color: #8c00ff !important;
    border-color: #8c00ff !important;
}

.violet:focus, .violet:active, .form-check-input:checked + .choice-viewable .violet {
    box-shadow: 0px 0px 0px 3px #8c00ff70 !important;
}

.pink {
    border-color: #ff0077;
    background-color: white;
    color: #ce00a1;
}

.choice-viewable:hover .pink,  .pink:hover, .pink:active, .form-check-input:checked + .choice-viewable .pink {
    color: white;
    background-color: #ff0077 !important;
    border-color: #ff0077 !important;
}

.pink:focus, .pink:active, .form-check-input:checked + .choice-viewable .pink {
    box-shadow: 0px 0px 0px 3px #ff007770 !important;
}

.orange {
    border-color: #ff8800;
    background-color: white;
    color: #ec7200;
}

.choice-viewable:hover .orange, .orange:hover, .orange:active, .form-check-input:checked + .choice-viewable .orange {
    color: white;
    background-color: #ff8800 !important;
    border-color: #ff8800 !important;
}

.orange:focus, .orange:active, .form-check-input:checked + .choice-viewable .orange {
    box-shadow: 0px 0px 0px 3px #ff941a70 !important;
}