html, body {
	height: 100%;
}

@media print{
    #instruction-container {
        display: none !important;
    }
    #print {
        display: none;
    }
    html[data-theme='dark'] {
        filter: invert(0) !important;
    }
    body #page-bg {
        background-color: white !important;
    }
}

html[data-theme='dark'] {
    transition: background 0.2s linear;
    filter: hue-rotate(180deg) invert(1);
}

html[data-theme='dark'] .modal-backdrop {
    filter: invert(0.6) !important;
}

html[data-theme='dark'] #quiz-instructions {
    filter: invert(0.05) !important;
}

html[data-theme='dark'] .fa-times-circle {
    filter: invert(1) hue-rotate(180deg) saturate(4) !important;
}

html[data-theme='dark'] .hint-result {
    filter: invert(0.1) hue-rotate(180deg) !important;
}

html[data-theme='dark'] .alert-warning, html[data-theme='dark'] .btn-warning {
    filter: invert(1) hue-rotate(180deg) saturate(1.5) !important;
}

html[data-theme='dark'] .yes-hint { 
    filter: brightness(1.15) !important;
}

html[data-theme='dark'] #instruction-container, html[data-theme='dark'] .alert-warning {
    position: fixed !important;
}

#adv-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.mb-2 {
    margin-bottom: 0 !important;
}

.settings-sub {
    font-family: "Abel", sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 1em;
    color: #000c1a;
    display: inline;
}

.manual-heading {
    font-weight: 900;
    font-family: "Abel", sans-serif;
    color: #0c001a;
    text-decoration: underline;
    text-decoration-color: #0c001a;
}

/* in register and login page */
.lower {
    margin-top: 2em;
}

.setting-section {
	width: 60%;
}

hr {
    size: 5px;
}

.adv-setting-text {
    color: #850000;
    margin-bottom: 10px;
}

.modes {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown {
    cursor: pointer;
}

/*          yes or no hint button          */
.checkbox {
	opacity: 0;
	position: absolute;
}

.on {
    color: #f39c12;
    transform: translate(2px);
}

.off {
    transform: translate(-2px);
    color: #759fc4;
}


/*       light/dark mode button        */
.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.fa-moon-o {
	color: #f1c40f;
}

.fa-sun-o {
	color: #f39c12;
}


/*     home page      */
#index-bg {
    background-color: #e8f0ff;
    height: auto;
    min-height: 100%;
}

#page-bg {
    background-color: #dfe5f1;
    height: auto;
    min-height: 100%;
}

.quiz-title {
    text-align: center;
    color: #002955;
    padding-top: 10em;
}
/* --------------- SOURCE: https://css-tricks.com/snippets/css/typewriter-effect/ --------------------- */
.typewrite:hover {
    text-decoration: none;
}
      
* { color:#002955; text-decoration: none;}
/* -------------------------------------------------- END OF SOURCE */

#home-choose-next {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;
}

#centered-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 5px;
}

.inline {
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.6em !important;
    margin-top: 0.6em !important;
}

.form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logout {
    z-index: 10000;
}

.add{
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}

.info {
    margin-right: 1em;
    margin-left: 1em;
    color: #fff6fa;
}

.disabled {
    opacity: 0.5;
}

.confirmation-text {
    font-family: "Abel", sans-serif;
    font-weight: bold;
    color: rgb(0, 68, 80);
    display: none;
    text-align: center;
}

#sorting {
    background-color: #8cace4;
    color: black;
    border-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

.sort-opt {
    background-color: #11005e;
    color: #f1f1f1;
}

#sortByType, #sortByQuestion {
    cursor: pointer;
}

.table-striped {
    background-color: white;
}

#toggleCollapse2 {
    margin-top: 16px;
    width: 90%;
}

#qBankTable {
    box-shadow: 0px 0px 0px 8px #93b9ff50 !important;
    margin-top: 1.2em;
}

.table {
	margin-bottom: 0;
}

#qBankTitle {
    display: flex;
    justify-content: space-between;
}

.fa-sort {
    margin-left: 5px;
}

.del-btn {
    display: none;
}

.del-question {
    opacity: 0.1;
}

.del-question:hover {
    opacity: 0.6;
}

.del-question:active {
    opacity: 1;
}

.editQ {
    opacity: 0.5;
}

.editQ:hover {
    opacity: 1;
}

.multi-sel-check {
    transform: scale(2) translateY(2px);
}

.multi-del {
    display: flex;
    justify-content: center;
}

#multi-trash {
    display: none;
    position: fixed;
    margin-bottom: 1em;
    margin-right: 1em;
    right: 0;
    bottom: 0;
    opacity: 0.75;
}

#multi-trash:hover {
    opacity: 0.9;
}

#multi-trash:active {
    opacity: 1;
}

/*     results page      */
.fa-2x {
    margin-right: 10px;
    display: inline;
}

.fa-check-circle {
    color: rgb(0, 201, 0);
}

.fa-times-circle, .fa-trash {
    color: rgb(201, 0, 0);
}

.q-in-results {
    display: inline-flex;
    align-items: flex-start;
}

.btn-light {
    background-color: #cdddf5a1;
    border-color: #cdddf5;
    pointer-events: none;
    color: rgb(0, 0, 36) !important;
}

.hint-result {
    background-color: #ffee9aaa !important;
    border-color: #ffee9a !important;
    pointer-events: none;
    color: rgb(0, 0, 36) !important;
}

#results {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

#input-name {
    margin-left: 10px;
}

@media (max-width: 768px) {
    #results {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    #input-name {
        margin-left: 0;
    }
}

/*     quiz page      */
#instruction-container {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    right: 0;
    margin-top: 1em;
    margin-right: 1em;
    z-index: 10000;
}

.home {
    background-color: #1596d1;
    border-color: #1596d1;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.home:hover, .home:focus, .home:active {
    background-color: #1a8abe !important;
    border-color: #1a8abe !important;
}

.new-pw {
    padding-bottom: 10px;
}

.in-quiz {
    margin-top: 0.75em;
}

p {
    color: black;
}

.hint {
    display: block;
}

.hint-p {
    font-style: italic;
    color: #8d5c00;
}

.get-hint {
    opacity: 0.75;
    margin-left: 20px;
    color: black;
}

.alert-warning {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 1em;
    padding-right: 0;
    margin-left: -15em;
    left: 50%;
    border-color: #ffc889d0;
    border-radius: 10px;
    transition-duration: 100ms;
}

.alert-text {
    display: table-cell;
    vertical-align: middle;
}

.alert-text-container {
    display: table;
}

.close {
    position: relative !important;
}

.alert-react {
    display: inline-flex;
    padding-left: 2em;
    padding-right: 0;
}

#quiz_form, #report {
    padding: 6em;
    padding-left: 10em;
    padding-right: 10em;
}

.general {
    display: flex;
    justify-content: center;
}

.question {
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    #quiz_form, #report {
        padding: 2em;
        padding-top: 5em;
    }
    #instruction-container {
        flex-direction: row-reverse;
    }
    .in-quiz {
        margin-top: 1em;
    }
}

/*      the radio buttons       */
.quizRadio {
    position: relative;
    z-index: -1;
    background-color: transparent;
    transform: translate(30px);
}

.choice-viewable{
    display: inline-flex;
    flex-direction: row;
    vertical-align: top;
    align-items: baseline;
}

.p-beside-bubbles {
    padding-left: 15px;
    cursor: pointer;
}

.choice-viewable > label{
    border-radius: 20px; /*roundness of answer boxes*/
}

.form-control {
    color: rgb(0, 0, 36);
}

.btn-outline-primary {
    background-color: #f4fcfb !important;
}
/*  F7F7F9*/

.blue {
    color: #005ec2; /*text color */
    background-color: white;
}

.choice-viewable:hover .blue, .blue:hover, .blue:active, .form-check-input:checked + .choice-viewable .blue{
    color: white;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.blue:focus, .blue:active, .form-check-input:checked + .choice-viewable .blue {
    box-shadow: 0px 0px 0px 3px #007bff70 !important;
}

.violet {
    border-color: #9350ff;
    background-color: white;
    color: #5f00b8;
}

.choice-viewable:hover .violet, .violet:hover, .violet:active, .form-check-input:checked + .choice-viewable .violet {
    color: white;
    background-color: #9350ff !important;
    border-color: #9350ff !important;
}

.violet:focus, .violet:active, .form-check-input:checked + .choice-viewable .violet {
    box-shadow: 0px 0px 0px 3px #9350ff70 !important;
}

.pink {
    border-color: #ff1e87;
    background-color: white;
    color: #ce00a1;
}

.choice-viewable:hover .pink,  .pink:hover, .pink:active, .form-check-input:checked + .choice-viewable .pink {
    color: white;
    background-color: #ff1e87 !important;
    border-color: #ff1e87 !important;
}

.pink:focus, .pink:active, .form-check-input:checked + .choice-viewable .pink {
    box-shadow: 0px 0px 0px 3px #ff1e8760 !important;
}

.orange {
    border-color: #f87000;
    background-color: white;
    color: #ec7200;
}

.choice-viewable:hover .orange, .orange:hover, .orange:active, .form-check-input:checked + .choice-viewable .orange {
    color: white;
    background-color: #f87000 !important;
    border-color: #f87000 !important;
}

.orange:focus, .orange:active, .form-check-input:checked + .choice-viewable .orange {
    box-shadow: 0px 0px 0px 3px #f8700070 !important;
}