{% extends "layout.html" %}

{% block body %}
    <style>
        body {
            background-color: #F7F7F9;
        }
    </style>
    <div class="quiz-title">
        <h1>
            <a href="" class="typewrite" data-period="2000" data-type='[ "FBLA Quiz", "5 Questions"]'>
                <span class="wrap"></span>
            </a>
        </h1>
    </div>
    <div id="home-choose-next">
        <button type="button" class="btn btn-info info" data-toggle="modal" data-target="#quiz-instructions">Instructions</button>
        <a class="btn btn-primary start" href="/quiz" role="button">Start</a>
    </div>
{% endblock %}