{% extends "layout.html" %}

{% block body %}
    <div id="instruction-container">
        <form action="/logout" method="post">
            <button class="btn btn-primary" id="logout" name="submit" type="submit" value="logout">Log out</button>
        </form>
    </div>
    <div id="index-bg">
        <div class="quiz-title">
            <!-- SOURCE: https://css-tricks.com/snippets/css/typewriter-effect/ -->
            <h1>
                <a href="" class="typewrite" data-period="2000" data-type='["FBLA Quiz", "5 Questions"]'>
                    <span class="wrap"></span>
                </a>
            </h1>
            <!-- END OF SOURCE -->
        </div>
        <div id="home-choose-next">
            <button type="button" class="btn btn-info info" data-toggle="modal" data-target="#quiz-instructions">Instructions</button>
            <button type="button" class="btn btn-secondary info" data-toggle="collapse" data-target="#adv-settings" aria-expanded="false" aria-controls="adv-settings">Advanced Settings</button>
            <a class="btn btn-primary start" href="/quiz" role="button">Start</a>
        </div>
        <div id="adv-settings" class="collapse">
            <div id="adv-wrapper">
                <div class="setting-section">
                    <hr>
                    <p class="settings-sub">MODES</p>
                </div>
                <div id="bg-mode" class="modes">
                    <p class="adv-setting-text">Dark mode</p>
                    <!-- SOURCE: https://codepen.io/FlorinPop17/pen/XWWZYYG -->
                    <div class="label">
                        <i class="fa fa-sun-o"></i>
                        <i class="fa fa-moon-o"></i>
                        <div class="ball"></div>
                    </div>
                    <!-- END OF SOURCE -->
                </div>
                <div class="modes">
                    <p class="adv-setting-text">Disable hint</p>
                    <input type="checkbox" class="checkbox" id="chk" />
                    <label class="label" for="chk">
                        <i class="fa fa-lightbulb-o on" aria-hidden="true"></i>
                        <i class="fa fa-lightbulb-o off" aria-hidden="true"></i>
                        <div class="ball"></div>
                    </label>
                </div>
                <div class="setting-section">
                    <hr>
                    <p class="settings-sub">ACCOUNT</p>
                </div>
                <div class="modes">
                    <p class="adv-setting-text">Change username</p>
                    <form action="/" method="post" class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="new-username" class="sr-only">Username</label>
                            <input type="text" class="form-control" name="new-username" id="new-username" placeholder="New username" autocomplete="off" required>
                        </div>
                        <button class="btn btn-primary" type="submit" value="Submit">Change</button>
                    </form>
                </div>
                <div class="modes">
                    <p class="adv-setting-text">Change password</p>
                    <form action="/" method="post" class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="new-password" class="sr-only">Password</label>
                            <input type="password" class="form-control" name="password" id="new-password" placeholder="New password" autocomplete="off" required>
                        </div>
                        <button class="btn btn-primary" type="submit" value="Submit">Change</button>
                    </form>
                </div>
                <div class="setting-section">
                    <hr>
                    <p class="settings-sub">QUESTION BANK</p>
                </div>
                <!-- have collapse use bootstrap --> 
                <button class="btn btn-primary">Add questions</button>
                    <form action="/" method="post" class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="add-answer" class="sr-only">Password</label>
                            <input type="text" class="form-control" name="answer" id="add-answer" placeholder="Answer" autocomplete="off" required>
                        </div>
                        <button class="btn btn-primary" type="submit" value="Submit">Change</button>
                    </form>
                <button class="btn btn-primary">View current</button>
            </div>
        </div>
    </div>
    <script>
        var curTheme = "{{ theme|safe }}";
        var curHint = "{{ hintMode|safe }}";
        console.log(curTheme, curHint)
    </script>
    <script src="static/index.js"></script>
    <script src="static/script.js"></script>
{% endblock %}