{% extends "layout.html" %}

{% block body %}
    <div id="index-bg">
        <div class="quiz-title">
            <!-- SOURCE: https://css-tricks.com/snippets/css/typewriter-effect/ -->
            <h1>
                <a href="" class="typewrite" data-period="2000" data-type='["FBLA Quiz", "5 Questions"]'>
                    <span class="wrap"></span>
                </a>
            </h1>
            <!-- END OF SOURCE -->
        </div>
        <div id="home-choose-next">
            <button type="button" class="btn btn-info info" data-toggle="modal" data-target="#quiz-instructions">Instructions</button>
            <a class="btn btn-primary start" href="/quiz" role="button">Start</a>
        </div>
        <div id="bg-mode">
            <!-- SOURCE: https://codepen.io/FlorinPop17/pen/XWWZYYG -->
            <input type="checkbox" class="checkbox" id="chk">
            <label class="label" for="chk">
                <i class="fa fa-sun-o"></i>
                <i class="fa fa-moon-o"></i>
                <div class="ball"></div>
            </label>
            <!-- END OF SOURCE -->
        </div>
    </div>
{% endblock %}